---
title: "Ambient RNA removal diagnostics"
author:
- name: ${your_name}
  affiliation:
  - ${affiliation}
date: '`r format(as.Date("${date_stamp}"), "%B %d, %Y")`'
output:
  rmdformats::downcute:
    highlight: textmate
    code_folding: hide
    toc_depth: 3
    css: custom.css
---

```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set(
  autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png', 
  fig.path = "figure/${short_tag}_ambient.Rmd/"
  )
knitr::opts_knit$set(root.dir = '..', base.dir = '../public/', base.url = '')
# workflowr::wflow_build(files='analysis/${short_tag}_ambient.Rmd', view=F, verbose=T, delete_cache=F)
```

```{r setup_helpers, message=FALSE, cache=FALSE, include = FALSE}
source('code/utils.R')
source('code/ambient.R')
n_cores     = ${threads}
setDTthreads(n_cores)
```

```{r setup_input, include = FALSE}
run_var     = "${run_var}"
amb_method  = "${ambient_method}"

# files with barcode ranks and knee parameters
map_dir     = 'output/${short_tag}_mapping'
amb_dir     = 'output/${short_tag}_ambient'
stats_f     = "${run_stats_f}"

# get files with USA counts pre and post ambient removal
map_yamls   = map_dir %>%
  list.files(pattern = '^ambient_params_.+_${date_stamp}.yaml', recursive = TRUE, full.names = TRUE)
names(map_yamls) = gsub('.*\\/ambient_params_(.+)_${date_stamp}.yaml', '\\1', map_yamls)
amb_yamls   = amb_dir %>%
  list.files(pattern = '^ambient_.+_${date_stamp}_output_paths.yaml', recursive = TRUE, full.names = TRUE)
names(amb_yamls) = gsub('.*\\/ambient_(.+)_${date_stamp}.yaml', '\\1', amb_yamls)
usa_fs      = amb_dir %>%
  list.files(pattern = '^barcodes_qc_metrics_.*_${date_stamp}.txt.gz', recursive = TRUE, full.names = TRUE)
names(usa_fs) = gsub('.*\\/barcodes_qc_metrics_(.+)_${date_stamp}.txt.gz.*', '\\1', usa_fs)
ok_bcs_fs   = amb_yamls %>% sapply(function(f) read_yaml(f)$bcs_f )
names(ok_bcs_fs) = gsub('.*\\/(bender|decontx|uncorrected)_(.+)_${date_stamp}_cell_barcodes.csv', '\\2', ok_bcs_fs)

# check that these are ok
assert_that(
  all(file.exists(map_yamls)), all(file.exists(amb_yamls)), 
  all(file.exists(usa_fs)), all(file.exists(ok_bcs_fs))
  )
assert_that( length(usa_fs) > 0 )
assert_that( all(names(usa_fs) == names(ok_bcs_fs)) )
```

```{r load_metadata, include = FALSE}
# get sample ids
s_lvls      = "${runs_str}" %>% 
  str_split(pattern = ',') %>% unlist()
stats_dt    = stats_f %>% fread
```

```{r load_usa_fs, include = FALSE}
usa_dt_ls   = usa_fs %>% lapply(get_usa_dt)
ok_bcs_ls   = ok_bcs_fs %>% lapply(function(f) fread(f, header = FALSE)$V1 )
tot_inc_ls  = map_yamls %>% lapply(function(f) read_yaml(f)$cb_total_droplets_included )
assert_that(!any(sapply(tot_inc_ls, is.null)))
```

```{r define_plot_dims, include = FALSE}
n_samples   = length(ok_bcs_ls)
w_per_s     = 0.8
dims_ls     = list(
  reads_removed = list(h = 4, w = 1 + w_per_s * pmax(n_samples, 4)),
  splice_vs_umi = list(h = 6, w = 5 + (amb_method != "none")*4)
)
plot_removed  = amb_method != "none"
print_tbl     = amb_method == "cellbender"
```

## Distributions of spliced pct. in empty and cell barcodes{.tabset}

${spl_umis_pl_txt}

```{r plot_spliced_vs_umis, fig.height = dims_ls$splice_vs_umi$h, fig.width = dims_ls$splice_vs_umi$w, results = "asis"}
for (ss in s_lvls) {
  cat("### ", ss, "\n")
  print( plot_spliced_vs_umis(ss, usa_dt_ls[[ss]], ok_bcs_ls[[ss]], tot_inc_ls[[ss]]) )
  cat("\n\n")
}
```

${plot_removed_title}
${plot_removed_txt}

```{r plot_reads_removed_as_ambient, eval = plot_removed, fig.height = dims_ls$reads_removed$h, fig.width = dims_ls$reads_removed$w, results = "asis"}
print(plot_reads_removed_as_ambient(usa_dt_ls, ok_bcs_ls))
```

${tbl_removed_title}
${tbl_removed_txt}

```{r tbl_ambient_exclusions, results = "asis", eval = print_tbl}
calc_ambient_exclusions(stats_dt, run_var) %>% knitr::kable()
```

## R session info

Details of the R package versions used are given below.

<details>
```{r session_info, include=TRUE, echo=TRUE, results="markup"}
devtools::session_info()
```
</details>
