---
title: "Doublet ID"
author:
- name: ${YOUR_NAME}
  affiliation: 
  - ${AFFILIATION}
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  workflowr::wflow_html:
    code_folding: hide
    toc: true
    toc_float: true
    number_sections: false
---

# Setup / definitions

## Markdown setup

```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set( autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png' )
knitr::opts_knit$set( root.dir='..' )
```

## Helper functions

```{r setup_helpers, message=FALSE, cache=FALSE}
source('code/ms00_utils.R')
source('code/ms02_doublet_id.R')
n_cores     = 8
setDTthreads(n_cores)
```

## Inputs

```{r setup_input}
# define what to save
min_feats   = $dbl_min_feats
dbl_f       = $dbl_f
dimred_f    = $dbl_dimred_f
```

# Load inputs

```{r load_inputs}
sc_dbl_dt   = fread(dbl_f)
dimred_dt   = fread(dimred_f)
```

# Analysis

## Checks of doublet ID calcs{.tabset}

Samples are shown in decreasing order of doublet proportion.

```{r plot_diagnostics_for_each_sample, fig.height = 7, fig.width = 16, results = 'asis'}
# calculate ordering of samples
sample_ls   = sc_dbl_dt %>%
  .[, .(
    prop_dbl = mean(class == 'doublet')
    ), by = .(sample_id)] %>%
  setorder(-'prop_dbl') %>% 
  use_series('sample_id')

# plot them all
for (s in sample_ls) {
  cat('### ', s, '\n')
  print(scdblfinder_diagnostic_plot(s, sc_dbl_dt, dimred_dt))
  cat('\n\n')
}
```

# Outputs

```{r save_outputs}
```

```{r session_info, include=TRUE, echo=TRUE, results='markup'}
devtools::session_info()
```
