---
title: "Diagnostic plots of HVG selection"
author:
- name: ${YOUR_NAME}
  affiliation: 
  - ${AFFILIATION}
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  rmdformats::downcute:
    highlight: textmate
    code_folding: hide
    toc_depth: 3
    css: custom.css
---

```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set(
  autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png', 
  fig.path = "figure/${SHORT_TAG}_hvgs.Rmd/"
)
knitr::opts_knit$set(root.dir = '..', base.dir = '../public/', base.url = '')
# workflowr::wflow_build(files='analysis/${SHORT_TAG}_hvgs.Rmd', view=F, verbose=T, delete_cache=F)
```

```{r setup_helpers, message=FALSE, cache=FALSE, include = FALSE}
source('code/utils.R')
source('code/hvgs.R')
n_cores     = ${threads}
setDTthreads(n_cores)
```

```{r setup_input, include = FALSE}
# input_files
hvgs_f      = "${hvgs_f}"
empty_gs_f  = "${empty_gs_f}"
pb_empty_f  = "${pb_empty_f}"
```

```{r load_hvg_data, include = FALSE}
hvgs_dt     = fread(hvgs_f)
edger_dt    = fread(empty_gs_f)
pb          = readRDS(pb_empty_f)
```

```{r calc_empty_hvgs, include = FALSE}
vst_obj     = calc_vst_obj(pb, edger_dt)
```

## Overview

The choice of highly variable genes is critical to the integration and resulting 
clusters in a single cell experiment. In our experience, contamination by ambient 
RNA is often an important confounding factor, and `scprocess` includes several steps
that seek to minimise its effect. 

The plots in this markdown are intended to give an overview of possible contamination,
which can make users aware of potential contamination to watch out for in clusters.

## Are highly variable genes "ambient"?

This plot is used to show to what extent the genes that would be identified by the 
"standard" `Seurat`-style HVG procedure could be driven by ambient RNA. The x-axis 
is the `log2fc` output from the ambient gene estimation step in `scprocess` (see
docs for more details). The y-axis is the `Seurat`-style trend-normalised variance. Points are 
genes, annotated by whether they are in the top HVGs, combined with whether
the `scprocess` ambient gene procedure calls them as ambient.

```{r plot_std_var_vs_empty_log2fc, fig.height = 6, fig.width = 8}
print(plot_hvg_stats_vs_empty_log2fc(hvgs_dt, edger_dt))
```

## Which genes are "ambient"?{.tabset}

This plot shows the results of the `scprocess` ambient gene procedure. The y-axis 
is the `-log10` nominal p-value, with a dotted line to show the cutoff at which 
the adjusted p-value is sufficiently small. There are several plots, each filtering 
to have different minimum levels of expression in the ambient profiles.

```{r plot_ambient_gene_calculations, fig.height = 6, fig.width = 6, results = 'asis'}
cpm_ls  = c(0, 10, 50, 100)
for (min_cpm in cpm_ls) {
  if (min_cpm == 0) {
    cat("### all genes\n")
  } else {
    cat(sprintf("### >= %d CPM expression in ambient\n", min_cpm))
  }
  print(plot_ambient_gene_calculations(edger_dt, min_cpm_empty = min_cpm))
  cat("\n\n")
}
```

## Which genes are variable across the ambient profiles?{.tabset}

We often find it useful to look into how ambient genes vary across the different 
samples. This can indicate when some samples may need to be treated differently 
(e.g. if disease and healthy samples consistently have different ambient profiles).

These heatmaps show how the pseudobulk expression of various genes vary across the
ambient profiles from each sample in the dataset. The genes are chosen as the top 40 
with:

- highest variance across ambient profiles;
- highest mean expression across ambient 
profiles;
- highest `log2fc` in ambient vs cells in `scprocess`'s ambient gene procedure; 
and
- smallest p-value in ambient vs cells in `scprocess`'s ambient gene procedure.

```{r plot_ambient_profiles, fig.height = 8, fig.width = 6, results = 'asis'}
title_ls = c(
  "var"           = "HVGs",
  "mean"          = "Highest expression",
  "log2fc.empty"  = "Highest log2fc",
  "pval.empty"    = "Smallest p-value"
)
for (top_var in names(title_ls)) {
  cat(sprintf("### %s in ambient\n", title_ls[top_var]))
  suppressMessages(draw(plot_heatmap_of_ambient_profiles(vst_obj, top_var = top_var, 
    n_top = 40), heatmap_legend_side = "right", merge_legend = TRUE ))
  cat("\n\n")
}
```

## R session info

Details of the R package versions used are given below.

<details>
```{r session_info, include=TRUE, echo=TRUE, results="markup"}
devtools::session_info()
```
</details>
