---
title: "Cell type labelling with XGBoost"
author:
- name: ${YOUR_NAME}
  affiliation: 
  - ${AFFILIATION}
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  rmdformats::downcute:
    highlight: textmate
    code_folding: hide
    toc_depth: 3
    css: custom.css
---


```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set( autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png', 
fig.path = "figure/${SHORT_TAG}_label_celltypes.Rmd/"
)

knitr::opts_knit$set(root.dir = '..', base.dir = '../public/', base.url = '')

```


```{r setup_helpers, message=FALSE, cache=FALSE, include = FALSE}
source('code/utils.R')
source('code/integration.R')
source('code/label_celltypes.R')
n_cores     = ${threads}
setDTthreads(n_cores)
```


```{r setup_input, include = FALSE}

# input_files
guesses_f   = "${guesses_f}"
xgb_f       = "${LBL_XGB_F}"
labels_f    = "${LBL_XGB_CLS_F}"

# params
sel_res_cl   = "${LBL_SEL_RES_CL}"
min_pred     = ${LBL_MIN_PRED}
min_cl_prop  = ${LBL_MIN_CL_PROP}
min_cl_size  = ${LBL_MIN_CL_SIZE}
```


```{r load_guesses, include = FALSE}

# get predictions
guesses_dt    = guesses_f %>% fread( na.strings = "" )

# get celltype labels
cl_lvls       = fread(labels_f) %>% .[, cluster]

# get resolutions used
res_ls        = names(guesses_dt) %>% 
  str_extract("RNA_snn_res\\.([0-9]*[.])?[0-9]+") %>% unique %>% sort
assert_that( sel_res_cl %in% res_ls )
res_ls        = sel_res_cl %>% c(setdiff(res_ls, sel_res_cl))

# format nicely
guesses_melt  = get_guesses_melt(guesses_dt, res_ls, cl_lvls, min_cl_size)

```


Annotation of cell types was performed using an XGBoost classifier trained on annotated data from the ${train_data_str}

## Integration clusters vs XGBoost-predicted cell types{.tabset}

Heatmap with xgboost annotations vs integration clusters

```{r plot_cls_vs_boost_pred, fig.height = 5, fig.width = 13, results = 'asis'}
# plot
for (sel_res in res_ls) {
  # make confusion matrix
  guesses_sel = guesses_melt[ res == sel_res, .(cell_id, prediction = cl_pred_raw)]
  int_sel    = guesses_melt[ res == sel_res, .(cell_id, cl_int = cl_int %>% factor)]
  confuse_dt  = calc_confuse_dt(guesses_sel, int_sel, "prediction", "cl_int")

  # plot heatmap
  cat('### res = ', sel_res, '\n', sep = '')
  draw(plot_cluster_comparison_heatmap(confuse_dt, "prediction", "cl_int", 
    plot_var = 'log_p_cl2', do_sort = "hclust"), merge_legend = TRUE)
  cat('\n\n')
}
```


## XGBoost-predicted cell types over UMAP{.tabset}

For each cluster the most frequent prediction labels are shown.

```{r plot_umap_xgboost_pred, fig.height = 5, fig.width = 12, results = 'asis'}
# plot
for (sel_res in res_ls) {
  # make confusion matrix
  guesses_sel = guesses_melt[ res == sel_res ]
  umap_sel    = guesses_sel[, .(cell_id, UMAP1, UMAP2)]
  g_cl        = plot_umap_cluster(umap_sel, 
    guesses_sel[, .(cell_id, cluster = cl_int)], "harmony\ncluster")
  g_pred      = plot_umap_cluster(umap_sel, 
    guesses_sel[, .(cell_id, cluster = cl_pred)], "prediction")
  g = g_cl + g_pred

  if(sel_res == sel_res_cl){
    tab_name = 'selected resolution'
  }else{
    tab_name = sel_res
  }

  # plot umaps
  cat('### res = ', tab_name, '\n', sep = '')
  print(g)
  cat('\n\n')
}
```



```{r session_info, include=TRUE, echo=TRUE, results="markup"}
devtools::session_info()
```

