---
title: "XGBoost classifier training: ${ref_tag}"
author:
- name: ${your_name}
  affiliation:
  - ${affiliation}
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  rmdformats::downcute:
    highlight: textmate
    code_folding: hide
    toc_depth: 3
    css: custom.css
---


```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set( autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png',
fig.path = "figure/${short_tag}_train_xgboost.Rmd/", message = FALSE, warning = FALSE
)
knitr::opts_knit$set(root.dir = '..', base.dir = '../public/', base.url = '')
```


```{r setup_libs, cache=FALSE, include = FALSE}
source('code/utils.R')
source('code/train_xgboost.R')
source('code/marker_genes.R')
```


```{r setup_input, include = FALSE}
predictions_f   = "${predictions_f}"
gain_f          = "${importance_f}"
pb_f            = "${pseudobulk_f}"
integration_f   = "${integration_f}"
has_coarse      = as.logical("${has_coarse}")
min_cells       = as.integer("${min_cells}")
n_cores         = as.integer("${n_cores}")
setDTthreads(n_cores)

# load data
preds_dt    = fread(predictions_f)
gain_dt     = fread(gain_f)
int_dt      = fread(integration_f)[, .(cell_id, UMAP1, UMAP2)]
```

```{r make_xgboost_dt, include = FALSE}
xgboost_dt = merge(preds_dt, int_dt, by = "cell_id", all.x = TRUE) %>%
  .[ !is.na(UMAP1) ]
# keep only validation data for plotting
val_dt     = xgboost_dt[ split == "validation" ]
```

```{r load_cpms, include = FALSE}
pb     = read_h5ad(pb_f, as = 'SingleCellExperiment')
if('X' %in% assayNames(pb)){
  assays(pb)[['X']] = NULL
}
cpms_dt =  pb %>% make_logcpms_all_rmd("sample_id", lib_size_method = "edger",
  min_cells = min_cells, n_cores = n_cores)
```

## Train / validation split

Plot showing the split into validation and training sets. The validation set should be well distributed across the UMAP space, indicating that it contains a representative sample of all cell types and states.

```{r plot_train_test_split, fig.height = 6, fig.width = 8}
plot_train_test_split(xgboost_dt)
```


## Predicted vs true labels UMAP {.tabset}

UMAPs showing the true (training) labels alongside model predictions on the validation set.

```{r plot_pred_true_umap, fig.height = 7, fig.width = 14, results = 'asis'}
lbl_type_vec = 'Training labels'
if (has_coarse) {
  lbl_type_vec = c('Coarse labels', 'Training labels')
}
for (lbl in lbl_type_vec) {
  cat('###', lbl, '\n')
  if(lbl == 'Coarse labels') {
    is_coarse = TRUE
  } else {
    is_coarse = FALSE
  }
  print(plot_pred_true_umap(val_dt, coarse = is_coarse))
  cat('\n\n')
}
```


## Confusion matrix (validation set)

Heatmap showing the proportion of cells with each true label (rows) that are predicted as each class (columns).

```{r confusion_matrix, fig.height = 10, fig.width = 12}
# prepare inputs for plot_cluster_comparison_heatmap
cl1_dt = val_dt[, .(cell_id, true_label = label %>% factor)]
cl2_dt = val_dt[, .(cell_id, pred_label = predicted_label %>% factor)]

confuse_dt = calc_confuse_dt(cl1_dt, cl2_dt, "true_label", "pred_label")
plot_cluster_comparison_heatmap(confuse_dt, "true_label", "pred_label",
  plot_var = "p_cl1", do_sort = "hclust")
```


## Per-class evaluation metrics (validation set)

To asses the model performance the following metrics are calculated for each individual cell type (label) in the validation set:

* N: The total number of cells belonging to some cell type in the validation set.
* Precision: Out of all cells predicted by the model to be some cell type, the fraction that truly belong to it.
* Recall: Out of all actual cells belonging to some cell type, the fraction that the model successfully identified.
* F1 Score: The harmonic mean of precision and recall.

```{r metrics_table}
metrics_dt = get_metrics_dt(val_dt)
metrics_dt %>% knitr::kable(digits = 3)
```

### Cumulative gain curve

Genes are ranked by their contribution to XGBoost's loss reduction (gain). The vertical line shows the cutoff where the top genes capture 90% of total gain. Genes to the left of the line are included in the final model.

```{r plot_gain_curve, fig.height = 5, fig.width = 8}
print(plot_gain_curve(gain_dt))
```


### Top XGBoost genes: {.tabset}

Pseudobulk logCPM expression of the top 20 most important XGBoost genes, shown per cell type label. Each dot represents one sample; dot size indicates the number of cells contributing to that pseudobulk value.

```{r plot_top_genes, fig.height = 8, fig.width = 8, results = "asis"}
top_genes_dt = gain_dt[1:min(100, .N)]
n_pages = 10
per_p   = 10
p       = 1
for (i in seq(1, n_pages * per_p, by = per_p)) {
  cat('#### page', p, '\n'); p = p + 1
  sel_gs  = top_genes_dt[ i:(i + 9) ]
  print(plot_top_xgboost_genes(sel_gs, cpms_dt))
  cat('\n\n')
}
```
