---
title: "Zoom in and recluster - ${zoom_name}"
author:
- name: ${YOUR_NAME}
  affiliation:
  - ${AFFILIATION}
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  rmdformats::downcute:
    highlight: textmate
    code_folding: hide
    toc_depth: 3
    css: custom.css
---


```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set( autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png', warnings = FALSE, 
  fig.path = "figure/${SHORT_TAG}_zoom_${zoom_name}_${zoom_res}.Rmd/")
knitr::opts_knit$set(root.dir = '..', base.dir = '../public/', base.url = '')
```


```{r setup_helpers, message=FALSE, cache=FALSE, include = FALSE}
source('code/utils.R')
source('code/integration.R')
source('code/marker_genes.R')
source('code/zoom.R')
n_cores     = 4
setDTthreads(n_cores)
```


```{r setup_input, include = FALSE}
# define selected group
zoom_name     = "${zoom_name}"
zoom_res      = ${zoom_res}
sub_dir       = "output/${SHORT_TAG}_zoom/${zoom_name}"
dbl_cl_prop   = ${INT_DBL_CL_PROP}

# define files for calculating pseudobulk marker genes
meta_f        = "${meta_f}"
gtf_dt_f      = "${gtf_dt_f}"
sce_sub_f     = "${sce_sub_f}"
hmny_f        = "${hmny_f}"
pb_f          = "${pb_f}"
mkrs_f        = "${mkrs_f}"
hvgs_f        = "${hvgs_f}"
canon_f       = "${canon_f}"

# fgsea files
fgsea_go_bp_f = "${fgsea_go_bp_f}"
fgsea_go_cc_f = "${fgsea_go_cc_f}"
fgsea_go_mf_f = "${fgsea_go_mf_f}"
fgsea_paths_f = "${fgsea_paths_f}"
fgsea_hlmk_f  = "${fgsea_hlmk_f}"

# parameters for here
not_ok_re     = "${MKR_NOT_OK_RE}"
exc_regex     = "${INT_EXC_REGEX}"
min_cpm_mkr   = ${MKR_MIN_CPM_MKR}
min_cells     = ${MKR_MIN_CELLS}
gsea_cut      = ${MKR_GSEA_CUT}

# define nice order for plotting
cl_ord        = NULL

# define metadata variables for plotting
metadata_vars = "${meta_vars_ls}" %>% 
  str_split(pattern = ",") %>% unlist()
if (all(metadata_vars == ""))
  metadata_vars = NULL
```

```{r load_metadata, include = FALSE}
meta_dt       = meta_f %>% fread
assert_that( all(metadata_vars %in% names(meta_dt)) )
```

```{r load_harmony_results, include = FALSE}
hmny_all    = fread(hmny_f)
```

```{r extract_dbl_checks, include = FALSE}
hmny_dbl    = hmny_all %>% 
  .[, .(sample_id, cell_id, UMAP1 = dbl_UMAP1, UMAP2 = dbl_UMAP2, is_dbl, dbl_cluster)]
```

```{r extract_normal_harmony, include = FALSE}
hmny_dt    = hmny_all[ !is.na(UMAP1) ] %>% 
  .[, cluster := get(paste0("RNA_snn_res.", zoom_res))] %>% 
  .[, .(sample_id, cell_id, integration, UMAP1, UMAP2, cluster)]
```

```{r load_gene_biotypes, include = FALSE}
biotypes_dt   = load_gene_biotypes(gtf_dt_f)
```

```{r load_cpms, include = FALSE}
cpms_dt     = readRDS(pb_f) %>% 
  make_logcpms_all(lib_size_method = "edger", 
    exc_regex = exc_regex, min_cells = min_cells, n_cores = n_cores) %>% 
  merge(biotypes_dt[, .(gene_id, gene_type)], by = "gene_id")
```

```{r load_hvgs, include = FALSE}
hvgs_dt     = fread(hvgs_f) %>% 
  .[ str_detect(gene_type, not_ok_re, negate = TRUE) ] %>% 
  .[ order(-vst_var) ]
```

```{r load_heatmap_markers, include = FALSE}
canon_dt    = fread(canon_f) %>% 
  .[, gene_id   := sprintf("%s_%s", symbol, ensembl_id) ]
assert_that( all( canon_dt$gene_id %in% unique(cpms_dt$gene_id) ) )
top_hvgs    = hvgs_dt[ 1:50 ] %>% .[, geneset := "HVGs" ]
mkrs_ls     = list( brain = canon_dt, HVGs = top_hvgs )
```

```{r load_pb_markers, include = FALSE}
# calculate markers
mkrs_dt     = fread(mkrs_f)
if (is.null(cl_ord))
  cl_ord      = sort(unique(mkrs_dt$cluster))
```

```{r get_top_markers, include = FALSE}
# select top markers
top_dt      = mkrs_dt[ str_detect(gene_type, not_ok_re, negate = TRUE) ] %>% 
  get_top_markers
top_min_dt  = mkrs_dt[ str_detect(gene_type, not_ok_re, negate = TRUE) ] %>% 
  .[ logcpm.sel >= log(min_cpm_mkr + 1) ] %>% 
  get_top_markers
```

```{r calc_gsea_pb, include = FALSE}
# do GSEA
fgsea_fs        = c(fgsea_go_bp_f, fgsea_go_cc_f, fgsea_go_mf_f, fgsea_paths_f, fgsea_hlmk_f)
names(fgsea_fs) = str_extract(fgsea_fs, "(go_bp|go_cc|go_mf|paths|hlmk)")

# load fgsea results
gsea_ls         = lapply(fgsea_fs, fread) %>% setNames(names(fgsea_fs))
```

## Check doublets over UMAP

```{r plot_doublet_harmony, fig.height = 5, fig.width = 11}
g_dbl   = plot_umap_doublets(hmny_dbl)
g_dens  = plot_umap_density(hmny_dbl[, .(cell_id, UMAP1, UMAP2) ])
g       = g_dbl + g_dens
print(g)
```

## Check doublet clusters

```{r plot_doublet_clusters, fig.height = 4, fig.width = 6}
( plot_doublet_clusters(hmny_dbl, dbl_cl_prop) )
```

## Clusters over UMAP{.tabset}

```{r plot_harmony_clusters_zoom_res, fig.height = 5, fig.width = 11}
g_cl    = plot_umap_cluster(
  umap_dt   = hmny_dt[, .(cell_id, UMAP1, UMAP2) ], 
  clust_dt  = hmny_dt[, .(cell_id, cluster) ],
  name      = sprintf('res = %s', zoom_res))
g_dens  = plot_umap_density(hmny_dt[, .(cell_id, UMAP1, UMAP2) ])
g       = g_cl + g_dens
print(g)
```

## Cluster splits by metadata variables

```{r plot_clusters_by_metadata, fig.height = 8, fig.width = 7, results = 'asis'}
if (!is.null(metadata_vars))
  (plot_clusters_by_metadata(meta_dt, hmny_dt, 
    meta_vars = metadata_vars, cl_order = cl_ord))
```

## Heatmaps of marker and variable genes{.tabset}

The resulting log 2 fold change values (calculated using edgeR) per cluster are shown for X highly variable genes and selected canonical marker genes.

```{r plot_marker_heatmaps, fig.height = 9, fig.width = 10, results = 'asis'}
for (nn in names(mkrs_ls)) {
  cat("### ", nn, "\n")
  draw( plot_heatmap_of_selected_genes(mkrs_dt, mkrs_ls[[nn]]),
    heatmap_legend_side = "bottom", annotation_legend_side = "bottom", merge_legend = TRUE )
  cat("\n\n")
}
```

## Highly variable genes{.tabset}

```{r plot_hvgs_pb_hmny, fig.height = 8, fig.width = 8, results = "asis"}
n_pages = 10
per_p   = 10
p       = 1
for (i in seq(1, n_pages * per_p, by = per_p)) {
  cat('### page', p, '\n'); p = p + 1
  sel_hvgs  = hvgs_dt[ i:(i + 9) ]
  print(plot_selected_genes(sel_hvgs, cpms_dt, cl_order = cl_ord))
  cat('\n\n')
}
```

## Top marker genes (min expression){.tabset}

```{r plot_top_markers_pb_min, fig.height = 8, fig.width = 8, results = "asis"}
for (sel_cl in cl_ord) {
  cat('###', sel_cl, '\n')
  print(plot_top_marker_genes(sel_cl, top_min_dt, cpms_dt, cl_order = cl_ord))
  cat('\n\n')
}
```

## Top marker genes{.tabset}

```{r plot_top_markers_pb, fig.height = 8, fig.width = 8, results = "asis"}
for (sel_cl in cl_ord) {
  cat('###', sel_cl, '\n')
  print(plot_top_marker_genes(sel_cl, top_dt, cpms_dt, cl_order = cl_ord))
  cat('\n\n')
}
```

## GSEA characterisation of clusters{.tabset}

```{r plot_gsea_results_pb, fig.height = 12, fig.width = 8, results = "asis"}
for (p in names(gsea_ls)) {
  cat('### ', p, '\n')
  dt    = gsea_ls[[p]] %>% .[ gsea_var == "z_score" ]
  plot_gsea_dotplot(dt, gsea_cut = gsea_cut, n_top_paths = 5, max_nes = 2,
    size_range = c(10, 200), what = "pos_only", cl_order = cl_ord) %>% print
  cat('\n\n')
}
```



```{r session_info, include=TRUE, echo=TRUE, results="markup"}
devtools::session_info()
```

