# config.yaml
proj_dir: /home/mkoder/projects/Agarwal_2020
fastq_dir: /home/mkoder/sn_raw_data/Agarwal_2020
full_tag: Agarwal_sub
short_tag: Agarwal
your_name: your name
affiliation: where you work
date_stamp: "2050-01-01"
sample_metadata: /home/mkoder/projects/Agarwal_2020/data/metadata/Agarwal_2020_trimmed_metadata.csv
# exclude_samples: [sample1, sample2]
# metadata_vars: [test1,test2]
alevin:
  species: human # has to match a value in the genome_name column of setup_parameters.csv in SCPROCESS_DATA_DIR
  chemistry: # optional; path to csv file with columns sample_id and version; valid versions are '3LT', '3v2', '5v1', '5v2', '3v3', 'multiome'
# cellbender:
#   do_cellbender: True
#   version: 'v0.3.0'
#   custom_cellbender_params: /path/to/file/with/custom_cellbender_parameters.csv
#   cb_max_prop_kept: 0.9
# make_sce:
#   sce_bender_prob: 0.5 # what probability of being a cell is required to be kept as a cell?
# doublet_id:
#   dbl_min_feats = 100 # how many features does a cell need to have to be included in scDblFinder calculations?
# qc:
#   qc_min_counts: 300        # thresholding for cells to keep: minimum number of UMIs per cell
#   qc_min_feats: 300         # thresholding for cells to keep: minimum number of features per cell
#   qc_min_mito: 0            # thresholding for cells to keep: minimum proportion of mitochondrial reads
#   qc_max_mito: 0.1          # thresholding for cells to keep: maximum proportion of mitochondrial reads
#   qc_min_splice: 0          # thresholding for cells to keep: minimum proportion of spliced reads
#   qc_max_splice: 1          # thresholding for cells to keep: maximum proportion of spliced reads
#   qc_min_cells: 500         # samples are only kept if they have at least this many cells after QC
# integration:
#   int_n_hvgs:       2000                # number of HVGs to use for PCA
#   int_n_dims:       50                  # number of PCs to use for integration
#   int_dbl_res:      4                   # resolution for clustering to get extra doublets
#   int_dbl_cl_prop:  0.5                 # proportion of doublet cells in doublet cluster to exclude that cluster
#   int_theta:        0.1                 # theta parameter for Harmony integration. 0 means no extra mixing of batch variable, 2 is default, which encourages batch mixing. At the moment our default is 0.1.
#   int_res_ls:       [0.1, 0.2, 0.5, 1]  # list of cluster resolutions for Harmony clustering
#   int_sel_res:      0.2                 # selected cluster resolution
# marker_genes:
#   mkr_min_cl_size: 100                                    # minimum number of cells in a cluster for that cluster to have marker genes calculated
#   mkr_min_cells: 10                                       # minimum number of cells present in a pseudobulk sample for that sample to be used to calculate marker genes
#   mkr_not_ok_re: "(lincRNA|lncRNA|pseudogene|antisense)"  # regular expression for gene types to exclude from marker gene plotting
#   mkr_min_cpm_mkr: 50                                     # minimum number of counts per million in a cell type for a gene to be considered a marker gene
#   mkr_min_cpm_go: 1                                       # minimum number of counts per million in a cell type for a gene to be used in GO analysis
#   mkr_max_zero_p: 0.5                                     # maximum proportion of pseudobulk samples for a cell type that can have zero counts for a gene to be used in GO analysis
#   mkr_gsea_cut: 0.1                                       # FDR cutoff for GSEA analysis
# label_celltypes:
#   lbl_tissue:      "brain_cns"      # which tissue do you want to label? (at present we only offer "brain_cns" :D)
#   lbl_sel_res_cl:  "RNN_snn_res.2"  # selected cluster resolution for cell type labelling (higher should be better)
#   lbl_min_pred:    0.5              # minimum probability of a cell being a cell type for that cell to be labelled as that cell type
#   lbl_min_cl_prop: 0.5              # minimum proportion of cells in a cluster that need to be labelled for that cluster to be labelled
#   lbl_min_cl_size: 100              # minimum number of cells in a cluster for that cluster to be labelled
#   sce_subsets:
#     # specification of sce subsets to be saved. spec should be name, followed by list of celltypes to include.
#     # valid labels for brain_cns: 'OPC_COP', 'Oligodendrocyte', 'Astrocyte',
#     # 'Ependymal', 'Choroid_plexus', 'Micro_Mono', 'Vascular_Fibro', 'T_NK_B_cell',
#     # 'Neurons'
#     oligos:       ['Oligodendrocyte', 'OPC_COP']
#     microglia:    ['Micro_Mono']
#     astrocytes:   ['Astrocyte', 'Ependymal_ChorPlex']
#     vascular:     ['Vascular_Fibro']
#     T_NK_B_cell:  ['T_NK_B_cell']
#     neurons:      ['Neurons']
#zoom:
#  cl_grp1:
#    sel_cls: [cl06]   # which clusters to include?
#    zoom_res: 0.2               # what resolution?
#    n_hvgs: 1000                # how many HVGs to use for PCA
#    n_dims: 20                  # how many PC dimensions to integrate over
#    min_n_sample: 10            # what is the minimum number of cells needed to keep a sample?
#    min_n_cl: 100               # what is the minimum number of cells needed to keep a cluster?
#    n_train: 1000               # how many cells per cluster should we use for training
# resources:
#   mb_run_alevin_fry: 8192               # default value for this rule
#   mb_save_alevin_to_h5: 8192            # values are in MB, for the whole job (NOT per thread)
#   mb_run_cellbender: 32768              # these are the initial values
#   mb_get_cellbender_qc_metrics: 4096    # if the job fails, this value will be multiplied by 2, 3, 4 then 5
#   mb_run_scdblfinder: 4096              # then scprocess will give up
#   mb_combine_scdblfinder_outputs: 8192  #
#   mb_make_sce_object: 16384             #
#   mb_run_harmony: 16384                 #
#   mb_run_marker_genes: 16384            #
#   mb_html_marker_genes: 8192            #
#   mb_lbl_label_celltypes: 16384         #
#   mb_lbl_save_subset_sces: 16384        #
#   mb_lbl_render_template_rmd: 4096      #
