.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}
.software-name {
    font-family: 'Roboto Mono', monospace;
    font-size: 85%;
    color: #a569bd;
    background-color: rgba(224, 201, 216, 0.5);/* Light background */
    padding: 2px 4px;
    border-radius: 5px;
    color: purple; /* Custom color for the software name */
  }
img[alt="empties_cells"] {
    float: right;
    width: 500px;
    height: 280px;
    padding-left: 20px;
    padding-bottom: 20px;
}
img[alt="all_knee_examples"] {
  float: center;
  width: 1100px;
  height: 280px;
  padding-left: 20px;
  padding-right: 20px;
}
img[alt="workflow_chart"] {
  float: center;
  width: 1000px;
  height: 900px;
}
.img-caption {
  text-align: left;
  font-size: 0.9em;
  color: #666;
  margin-top: -10px;
}
