---
title: "Cell type labelling with XGBoost"
author:
- name: ${YOUR_NAME}
  affiliation: 
  - ${AFFILIATION}
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  workflowr::wflow_html:
    code_folding: hide
    toc: true
    toc_float: true
    number_sections: false
params:
    is_xgboost: ${eval_boost} 
---


```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set( autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png' )
knitr::opts_knit$set( root.dir='..' )
# workflowr::wflow_build(files='analysis/${SHORT_TAG}_label_celltypes.Rmd', view=F, verbose=T, delete_cache=F)

# establish conditions
eval_boost = params$is_xgboost
eval_custom = !params$is_xgboost
```


```{r setup_helpers, message=FALSE, cache=FALSE, include = FALSE}
source('code/utils.R')
source('code/integration.R')
source('code/label_celltypes.R')
n_cores     = ${threads}
setDTthreads(n_cores)
```


```{r setup_input, include = FALSE}
# define files for xgboost
guesses_f   = "${guesses_f}"

# which harmony clusters?
xgb_f        = "${LBL_XGB_F}"
sel_res_cl   = "${LBL_SEL_RES_CL}"
sel_mkrs_res = "${INT_SEL_RES}"
min_pred     = ${LBL_MIN_PRED}
min_cl_prop  = ${LBL_MIN_CL_PROP}
min_cl_size  = ${LBL_MIN_CL_SIZE}
```


```{r load_guesses, include = FALSE}

# get predictions
guesses_dt    = guesses_f %>% fread( na.strings = "" )

if(eval_boost){
# get celltype labels
cl_lvls       = xgb_f %>% readRDS %>% .$cl_lvls

# get resolutions used
res_ls        = names(guesses_dt) %>% 
  str_extract("RNA_snn_res\\.([0-9]*[.])?[0-9]+") %>% unique %>% sort
assert_that( sel_res_cl %in% res_ls )
res_ls        = sel_res_cl %>% c(setdiff(res_ls, sel_res_cl))

# format nicely
guesses_melt  = get_guesses_melt(guesses_dt, res_ls, cl_lvls, min_cl_size)
}

```


${main_lbl_txt} 

## ${hmap_title}

${hmap_txt}

```{r plot_cls_vs_boost_pred, fig.height = 5, fig.width = 13, results = 'asis', eval = eval_boost, include = eval_boost}
# plot
for (sel_res in res_ls) {
  # make confusion matrix
  guesses_sel = guesses_melt[ res == sel_res, .(cell_id, prediction = cl_pred_raw)]
  hmny_sel    = guesses_melt[ res == sel_res, .(cell_id, cl_hmny = cl_hmny %>% factor)]
  confuse_dt  = calc_confuse_dt(guesses_sel, hmny_sel, "prediction", "cl_hmny")

  # plot heatmap
  cat('### res = ', sel_res, '\n', sep = '')
  draw(plot_cluster_comparison_heatmap(confuse_dt, "prediction", "cl_hmny", 
    plot_var = 'log_p_cl2', do_sort = "hclust"), merge_legend = TRUE)
  cat('\n\n')
}
```


```{r plot_cls_vs_cust_anno, fig.height = 5, fig.width = 13, eval = eval_cust, include = eval_cust}
  # make confusion matrix

  guesses_sel = guesses_dt[, .(cell_id, prediction = cl_hmny)]
  hmny_sel    = guesses_dt[, .(cell_id, cl_hmny = cl_hmny %>% factor)]
  confuse_dt  = calc_confuse_dt(guesses_sel, hmny_sel, "prediction", "cl_hmny")

  # plot heatmap
  draw(plot_cluster_comparison_heatmap(confuse_dt, "prediction", "cl_hmny", 
    plot_var = 'log_p_cl2', do_sort = "hclust"), merge_legend = TRUE)
}
```



## ${umap_title}

${umap_txt}

```{r plot_umap_xgboost_pred, fig.height = 5, fig.width = 12, results = 'asis', eval = eval_boost, include=eval_boost}
# plot
for (sel_res in res_ls) {
  # make confusion matrix
  guesses_sel = guesses_melt[ res == sel_res ]
  umap_sel    = guesses_sel[, .(cell_id, UMAP1, UMAP2)]
  g_cl        = plot_umap_cluster(umap_sel, 
    guesses_sel[, .(cell_id, cluster = cl_hmny)], "harmony\ncluster")
  g_pred      = plot_umap_cluster(umap_sel, 
    guesses_sel[, .(cell_id, cluster = cl_pred)], "prediction")
  g = g_cl + g_pred

  if(sel_res == sel_res_cl){
    tab_name = 'selected resolution'
  }else{
    tab_name = sel_res
  }

  # plot umaps
  cat('### res = ', tab_name, '\n', sep = '')
  print(g)
  cat('\n\n')
}
```


```{r plot_custom_anno_umap, fig.height = 5, fig.width = 12, eval = eval_custom, include = eval_custom}
# plot
for (sel_res in res_ls) {
  umap_sel    = guesses_dt[, .(cell_id, UMAP1, UMAP2)]
  g_cl        = plot_umap_cluster(umap_sel, 
    guesses_dt[, .(cell_id, cluster = cl_hmny)], "harmony\ncluster")
  g_pred      = plot_umap_cluster(umap_sel, 
    guesses_dt[, .(cell_id, cluster = label)], "prediction")
  g = g_cl + g_pred

  # plot umaps
  cat('### res = ', sel_res, '\n', sep = '')
  print(g)
  cat('\n\n')
}
```

