---
title: "Process raw reads into counts matrix"
author:
- name: ${YOUR_NAME}
  affiliation: 
  - ${AFFILIATION}
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  workflowr::wflow_html:
    code_folding: hide
    toc: true
    toc_float: true
    number_sections: false
---

# Setup / definitions

## Libraries

```{r setup_knitr, include=FALSE}
library('BiocStyle')
knitr::opts_chunk$set( autodep=TRUE, cache=TRUE, cache.lazy=FALSE, dev='png' )
knitr::opts_knit$set( root.dir='..' )
# workflowr::wflow_build(files='analysis/cs01_make_sce.Rmd', view=F, verbose=T, delete_cache=F)
```

```{r setup_libs, collapse=FALSE, message=FALSE, warning=FALSE, cache=FALSE}
```

## Helper functions

```{r setup_helpers, message=FALSE, cache=FALSE}
source('code/cs00_utils.R')
source('code/cs01_make_sce.R')
n_cores     = 8
setDTthreads(n_cores)
```

## Inputs

```{r setup_input}
# define which files we want to look at
ranger_dir  = '/pstore/data/neurogenomics/others/CONSONANCE_PROSPERO/September2021/FASTQ'
stems_list  = c("CN001", "CN002", "EG001_C", "EG001_P", "EG002_C", "EG002_P", 
  "EG003_C", "EG003_P")
fry_dirs    = c(
  'data/scrnaseq/pool_2021-09-20', 
  'data/scrnaseq/pool_2022-03-24',
  'data/scrnaseq/pool_2022-09-01'
  )
name_regex  = '(CN[0-9]{3}|EG[0-9]{3}_[CP])'

# where are gene labels?
# gtf_f       = file.path("data/reference_genome", 
#   "gencode.v40.primary_assembly.annotation.gtf.gz")
# gtf_dt_f    = file.path("data/reference_genome", 
#   "gencode.v40.primary_assembly.annotation_annots.txt.gz")
gtf_f       = file.path("data/reference_genome", 
  "gencode.v32.primary_assembly.annotation.filtered.gtf.gz")
gtf_dt_f    = file.path("data/reference_genome", 
  "gencode.v32.primary_assembly.annotation.filtered_annots.txt.gz")
```

## Outputs

```{r setup_outputs}
# define save location
save_dir    = 'output/cs01_sce'
if (!dir.exists(save_dir))
  dir.create(save_dir)
save_stamp  = '2022-09-20'

# which genes are ok?
bad_types   = c("miRNA", "misc_RNA", "Mt_rRNA", "Mt_tRNA", "ribozyme", "rRNA",
  "rRNA_pseudogene", "scaRNA", "scRNA", "snoRNA", "snRNA", "sRNA", "TEC", 
  "vault_RNA")

# which kind of counts?
which_usa   = c('S', 'U', 'A')

# min counts
min_feats   = 100

# barcodes file
bcs_f       = sprintf('%s/raw_barcodes_dt_%s.txt.gz', save_dir, save_stamp)

# sce file
sce_pat     = '%s/sce_consonance_prospero_raw_%s.rds'
ranger_f    = sprintf(sce_pat, save_dir, 'pool_2021-09-20')

# define fry sce file
fry_all_f   = sprintf('%s/sce_all_csf_raw_all_usa_%s.rds', save_dir, save_stamp)
fry_raw_f   = sprintf('%s/sce_all_csf_raw_usa_%s.rds', save_dir, save_stamp)
```

# Load inputs

```{r load_inputs}
# get gene type annotations
annots_dt   = get_annots_dt(gtf_dt_f, gtf_f)
```

```{r load_knee_plot_data}
if (file.exists(bcs_f)) {
  bcs_dt    = fread(bcs_f)
} else {
  # get barcode data for each pool
  bcs_dt    = get_bcs_dt(fry_dirs, name_regex, n_cores = n_cores)
  fwrite(bcs_dt, file = bcs_f)
}
```

# Processing / calculations

```{r make_cellranger_sce, eval = FALSE}
sce_ranger  = make_sce_adhoc_cellranger(ranger_f, ranger_dir, stems_list)
```

```{r make_alevin_sce_all}
if (file.exists(fry_all_f)) {
  sce_all     = readRDS(fry_all_f)
} else {
  # get fry outputs for each pool
  sce_fry     = make_sce_fry(fry_dirs, name_regex, which_counts = which_usa) %>% 
    add_gene_annots(annots_dt)

  # add QC metrics
  bpparam     = MulticoreParam(workers = n_cores, progressbar = TRUE)
  sce_fry     = addPerCellQCMetrics(sce_fry, 
    subsets = list(mito = grep("MT-", rownames(sce_fry))), BPPARAM = bpparam)
  bpstop(bpparam)

  # label dodgy genes
  bad_gs      = rowData(sce_fry)$gene_biotype %in% bad_types
  message(sprintf("no. counts in ok genes:            %.1fM", 
    sum(counts(sce_fry)[!bad_gs, ])/1e6 ))
  message(sprintf("no. counts in 'bad' genes:  %.1fM", 
    sum(counts(sce_fry)[bad_gs, ])/1e6 ))

  # remove cells with 0 features
  ok_cells    = calc_ok_cells(sce_fry, min_feats = 0)
  sce_all     = sce_fry[, ok_cells ]
  assert_that( min(colSums(counts(sce_all))) >= 0 )

  # save!
  saveRDS(sce_all, file = fry_all_f, compress = FALSE)
}
```

```{r make_slightly_cleaner_sce}
if (file.exists(fry_raw_f)) {
  sce_raw     = readRDS(fry_raw_f)
} else {
  # remove cells with 0 features
  ok_cells    = calc_ok_cells(sce_all, min_feats = min_feats)
  sce_raw     = sce_all[, ok_cells ]
  assert_that( min(colSums(counts(sce_raw) > 0)) >= min_feats )

  # # remove genes with 0 counts
  # keep_gs     = counts(sce_raw) %>% rowSums %>% `>`(0)
  # message(sprintf("no. zero genes removed:  %d", sum(!keep_gs)))
  # message(sprintf("no. genes remaining:     %d", sum(keep_gs)))
  # sce_raw     = sce_raw[ keep_gs, ]

  # remove genes of types we don't want
  bad_gs      = rowData(sce_raw)$gene_biotype %in% bad_types
  message(sprintf("no. unwanted genes removed:  %d", sum(bad_gs)))
  message(sprintf("no. genes remaining:     %d", sum(!bad_gs)))
  sce_raw     = sce_raw[ !bad_gs, ]

  # save!
  saveRDS(sce_raw, file = fry_raw_f, compress = FALSE)
}
```

```{r make_alevinQC_reports, eval = FALSE}
make_alevinQC_reports(fry_dirs, file.path(save_dir, '10x'))
```

# Analysis

## Knee plot, samples together{.tabset}

```{r plot_knees_together, fig.height = 5, fig.width = 8, results = 'asis'}
for (what in c("barcodes", "genes")) {
  cat("###", what, "\n")
  print(plot_knees(bcs_dt, what = what, do_facet = FALSE))
  cat("\n\n")
}
```

## Knee plot, samples split{.tabset}

```{r plot_knees_split, fig.height = 8, fig.width = 10, results = 'asis'}
for (what in c("barcodes", "genes")) {
  cat("###", what, "\n")
  print(plot_knees(bcs_dt, what = what, do_facet = TRUE))
  cat("\n\n")
}
```

## Which types of genes are present?{.tabset}

```{r genes_table, results = 'asis'}
cat("### Zero cells removed\n")
  calc_gene_totals(sce_all) %>% .[ order(-prop_exp) ] %>% 
    head(100) %>% knitr::kable(.)
cat("\n\n")
cat("### Zero and 'bad' genes removed\n")
  calc_gene_totals(sce_raw) %>% .[ order(-prop_exp) ] %>% 
    head(100) %>% knitr::kable(.)
cat("\n\n")
```
